In [1]:
import sqlite3

In [8]:
conn = sqlite3.connect('rpg_db.sqlite3')

In [9]:
conn

How many total Characters are there?

In [13]:
query= 'SELECT COUNT(*) FROM charactercreator_character;'

In [17]:
curs = conn.cursor()

In [11]:
dir(curs)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [21]:
curs.execute(query).fetchall()

[(302,)]

In [22]:
curs.close()
conn.commit()

How many of each specific subclass?

In [26]:
query = """SELECT
(SELECT COUNT(*) FROM charactercreator_cleric) as cleric,
(SELECT COUNT(*) FROM charactercreator_fighter) as fighter, 
(SELECT COUNT(*) FROM charactercreator_mage) as mage,
(SELECT COUNT(*) FROM charactercreator_necromancer) as necromancer,
(SELECT COUNT(*) FROM charactercreator_thief) as thief;"""

In [28]:
curs = conn.cursor()

In [29]:
curs.execute(query).fetchall()

[(75, 68, 108, 11, 51)]

In [30]:
curs.close()
conn.commit()

How many total Items?

In [31]:
query = "SELECT COUNT(*) FROM charactercreator_character_inventory;"

In [32]:
curs = conn.cursor()
output = curs.execute(query).fetchall()
curs.close()
conn.commit()
output

[(898,)]

How many of the Items are weapons?

In [33]:
query = """SELECT COUNT(*) FROM armory_weapon
INNER JOIN charactercreator_character_inventory ON
item_id = item_ptr_id;"""

curs = conn.cursor()
output = curs.execute(query).fetchall()
curs.close()
conn.commit()
output

[(203,)]

How many are not?

In [34]:
query = """SELECT
	(SELECT COUNT(*) FROM charactercreator_character_inventory)
	-(SELECT COUNT(*) FROM armory_weapon
INNER JOIN charactercreator_character_inventory ON
item_id = item_ptr_id)"""
curs = conn.cursor()
output = curs.execute(query).fetchall()
curs.close()
conn.commit()
output

[(695,)]

How many Items does each character have? (Return first 20 rows)

In [37]:
query = """SELECT character_id, COUNT(*)
FROM charactercreator_character_inventory
GROUP BY character_id
LIMIT 20;"""
curs = conn.cursor()
output = curs.execute(query).fetchall()
curs.close()
conn.commit()
output

[(1, 3),
 (2, 3),
 (3, 2),
 (4, 4),
 (5, 4),
 (6, 1),
 (7, 5),
 (8, 3),
 (9, 4),
 (10, 4),
 (11, 3),
 (12, 3),
 (13, 4),
 (14, 4),
 (15, 4),
 (16, 1),
 (17, 5),
 (18, 5),
 (19, 3),
 (20, 1)]

How many Weapons does each character have? (Return first 20 rows)

(note: this list only lists character ids that have weapons, so it isn't listed in means that character has zero weapons.)

In [38]:
query = """SELECT character_id, COUNT(*) FROM charactercreator_character_inventory
INNER JOIN armory_weapon ON item_id = item_ptr_id
GROUP BY character_id
LIMIT 20;
"""
curs = conn.cursor()
output = curs.execute(query).fetchall()
curs.close()
conn.commit()
output

[(5, 2),
 (7, 1),
 (11, 1),
 (20, 1),
 (22, 1),
 (23, 1),
 (26, 1),
 (27, 3),
 (29, 2),
 (30, 1),
 (32, 1),
 (34, 1),
 (35, 2),
 (36, 3),
 (37, 2),
 (38, 2),
 (39, 2),
 (40, 1),
 (41, 1),
 (47, 1)]

On average, how many Items does each Character have?

In [39]:
query = """SELECT avg(count)
	FROM
	(
SELECT character_id, COUNT(*) as count
FROM charactercreator_character_inventory
GROUP BY character_id
)""" 
curs = conn.cursor()
output = curs.execute(query).fetchall()
curs.close()
conn.commit()
output

[(2.9735099337748343,)]

On average, how many Weapons does each character have?

(note this lists the average number of weapons that weapon having characters have)

In [40]:
query = """SELECT avg(count)
	FROM
	(
SELECT character_id, COUNT(*) as count FROM charactercreator_character_inventory
INNER JOIN armory_weapon ON item_id = item_ptr_id
GROUP BY character_id)""" 
curs = conn.cursor()
output = curs.execute(query).fetchall()
curs.close()
conn.commit()
output

[(1.3096774193548386,)]

# Part two

In [44]:
import pandas as pd
df = pd.read_csv("buddymove_holidayiq.csv")

In [45]:
# creates the database file 
conn = sqlite3.connect('buddymove_holidayiq.sqlite3')

In [46]:
df.to_sql('reviews', con=conn)

C:\Users\Ryloid\Anaconda3\envs\unit2\lib\site-packages\pandas\core\generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

Count how many rows you have - it should be 249!

In [48]:
query = "SELECT COUNT(*) from reviews;"
curs = conn.cursor()
output = curs.execute(query).fetchall()
curs.close()
conn.commit()
output

[(249,)]

How many users who reviewed at least 100 Nature in the category also reviewed at least 100 in the Shopping category?

In [49]:
query = "SELECT COUNT(*) FROM reviews WHERE Nature > 100 AND Shopping > 100;"
curs = conn.cursor()
output = curs.execute(query).fetchall()
curs.close()
conn.commit()
output

[(78,)]

In [ ]:
What are the average number of reviews for each category?

In [50]:
query = """SELECT
(SELECT AVG(Nature) FROM reviews) as av_nature,
(SELECT AVG(Sports) FROM reviews) as av_sports,
(SELECT AVG(Theatre) FROM reviews) as av_theatre,
(SELECT AVG(Shopping) FROM reviews) as av_shopping,
(SELECT AVG(Picnic) FROM reviews) as av_picnic,
(SELECT AVG(Religious) FROM reviews) as av_relgious;"""
curs = conn.cursor()
output = curs.execute(query).fetchall()
curs.close()
conn.commit()
output

[(124.51807228915662,
  11.987951807228916,
  116.37751004016064,
  112.63855421686748,
  120.40160642570281,
  109.77911646586345)]